  <footer>
  </footer>

  <script src="/vendor/jquery/jquery.min.js" charset="utf-8"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/vendor/fontawesome/js/all.min.js" charset="utf-8"></script>
  <script src="/min/app.min.js" charset="utf-8"></script>

  </body>
</html>
