<div class="sidebar-toggle">
  <div class="sidebar-toggle-icon">
    <div class="sidebar-toggle-icon-inner"></div>
  </div>
</div>

<aside class="sidebar">

  <div class="sidebar-logo">
    <div class="sidebar-logo-name">
      Matthew <br>
      Lindsay
    </div>
    <div class="sidebar-logo-subtitle">
      Web App Dev
    </div>
  </div>

  <nav class="sidebar-nav">
    <a href="#skills" class="sidebar-nav-link js-scroll-link" js-scroll-to="#section-skills">Skills</a>
    <a href="#work" class="sidebar-nav-link js-scroll-link" js-scroll-to="#section-work">Work</a>
    <a href="#contact" class="sidebar-nav-link js-scroll-link" js-scroll-to="#section-contact">Contact</a>
  </nav>

  <div class="sidebar-bottom">
    <a download href="/documents/matthewlindsay.pdf" class="btn btn-iconed sidebar-resume">
      <div class="btn-iconed-text">
        Resume
      </div>
      <div class="btn-iconed-icon">
        <i class="fas fa-file-download"></i>
      </div>
    </a>
    <a href="https://www.linkedin.com/in/matthew-lindsay-135a47b6/" class="btn btn-iconed -iconed-blue sidebar-connect" target="_blank">
      <div class="btn-iconed-text">
        Connect
      </div>
      <div class="btn-iconed-icon">
        <i class="fab fa-linkedin"></i>
      </div>
    </a>
  </div>

</aside>
