<section id="section-contact" class="section-contact section-full">
  <div class="container">

    <h2 class="section-header">Contact</h2>

    <form class="contact-form" method="POST" action="/send">

      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="form-input-wrap">
            <input class="form-input" type="text" name="name" placeholder="Name">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-input-wrap">
            <input class="form-input" type="text" name="email" placeholder="E-Mail">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-input-wrap">
            <input class="form-input" type="text" name="subject" placeholder="Subject">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="form-input-wrap">
            <textarea class="form-input -textarea" name="message" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
      <div class="contact-form-bottom">
        <button class="btn btn-primary contact-submit" type="submit" disabled>send</button>
      </div>

    </form>

  </div>
</section>
