<section id="section-home" class="section-home section-full">

  <canvas class="home-bg"></canvas>

  <div class="container">
    <h1 class="home-header">
      Hi, <br>
      I'm Matthew, <br>
      Software Engineer
    </h1>

    <p class="home-subheader"><span class="-carot">&lt;</span> Web applications and Front End <span class="-carot">&gt;</span></p>

    <a href="#contact" class="btn btn-swipe js-scroll-link" js-scroll-to="#section-contact">
      <span class="bg"></span>
      <span class="text">Contact me!</span>
    </a>

  </div>

</section>
