<section id="section-skills" class="section-skills section-full js-animate">
  <div class="container row">
  
    <span>testing github api</span>

    <div class="col-lg-5 js-animate-target -anim-fade-right">
      <h2 class="section-header">Skills</h2>
      <p>Since beginning my career as a Front End developer 5 years ago, I’ve picked up a number of skills building websites that are fast and easy to use.</p>
      <p>My main area of expertise is using HTML, CSS and JS to create interactive layouts for medium and large web apps. I build websites with scalability, accessibility and security in mind.</p>
      <p>I also have picked up some back end knowledge. My professional experience I have used PHP with code igniter but I wish to branch out and learn newer back end technologies, namely NodeJS which I started learning.</p>
    </div>
    <div class="col-lg-7">
      <div class="skills-graph">

        <div class="skills-graph-labels">
          <div class="-label">
            <span>Front End</span>
          </div>
          <div class="-label">
            <span>Back End</span>
          </div>
          <div class="-label">
            <span>React</span>
          </div>
        </div>
        <div class="skills-graph-bars">
          <div class="skills-levels">
            <span>Beginner</span>
            <span>Alright</span>
            <span>Experienced</span>
          </div>
          <div class="-bar -frontend js-animate-target">

          </div>
          <div class="-bar -backend js-animate-target">

          </div>
          <div class="-bar -react js-animate-target">

          </div>
        </div>
        <div class="skills-graph-info">
          <button type="button" class="-info-button" data-bs-toggle="modal" data-bs-target="#frontEndSkillsModal">
            <i class="fas fa-info-circle"></i>
          </button>
          <button type="button" class="-info-button" data-bs-toggle="modal" data-bs-target="#frontEndSkillsModal">
            <i class="fas fa-info-circle"></i>
          </button>
          <button type="button" class="-info-button" data-bs-toggle="modal" data-bs-target="#frontEndSkillsModal">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="frontEndSkillsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="frontEndSkillsModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Modal Info here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
